/* Define MQTT_TLS to use TLS with pinned certificate for secure MQTT. Put the
 * SHA1 fingerprint of the server certificate in arduino_secrets.h. */
//#define MQTT_TLS
/* Define MQTT_AUTH to use password authentication (only valid when
 * MQTT_TLS is set). */
//#define MQTT_AUTH

/* Optionally, if you define OPTIONAL_LIGHT_SENSOR, you may attach a light
 * sensor diode (or photo transistor or whatever) to analog pin A0 and have it
 * monitor the red watt hour pulse LED. This improves the current Watt
 * calculation when the power consumption is low. A pulse causes the sleep to
 * be cut short, increasing the possibility that two consecutive readings are
 * "right after a new watt hour value."
 * > In the meter mode it [...] blinks with a pulse rate of 1000 imp/kWh,
 * > the pulse's width is 40 ms. */
//#define OPTIONAL_LIGHT_SENSOR
