/* Define MQTT_TLS to use TLS with pinned certificate for secure MQTT. Put the
 * SHA1 fingerprint of the server certificate in arduino_secrets.h. */
//#define MQTT_TLS
/* Define MQTT_AUTH to use password authentication (only valid when
 * MQTT_TLS is set). */
//#define MQTT_AUTH

/* Optionally, if you define OPTIONAL_LIGHT_SENSOR, you may attach a light
 * sensor diode (or photo transistor or whatever) to analog pin A0 and have it
 * monitor the red watt hour pulse LED. This improves the current Watt
 * calculation when the power consumption is low. A pulse causes the sleep to
 * be cut short, increasing the possibility that two consecutive readings are
 * "right after a new watt hour value."
 * > In the meter mode it [...] blinks with a pulse rate of 1000 imp/kWh,
 * > the pulse's width is 40 ms. */
//#define OPTIONAL_LIGHT_SENSOR

/* Optionally, if you define OPTIONAL_PINGMON, a pinging module will be
 * loaded from https://github.com/wdoekes/pe32ping_mod that pings
 * various hosts and posts the result to the broker as well. */
//#define OPTIONAL_PINGMON
//DECLARE_PGM_CHAR_P(pingmon_host0, "example.com");
//DECLARE_PGM_CHAR_P(pingmon_host1, "example2.com");
//DECLARE_PGM_CHAR_P(pingmon_host2, "example3.com");
//DECLARE_PGM_CHAR_P(pingmon_whatsmyip_url, "http://ifconfig.co");

/* vim: set syn=c: */
